/* General */

@font-face {
  font-family: Bariol;
  font-weight: 300;
  src: url(../fonts/bariol_light-webfont.woff2);
}

@font-face {
  font-family: Bariol;
  font-weight: 400;
  src: url(../fonts/bariol_regular-webfont.woff2);
}

@font-face {
  font-family: Bariol;
  font-weight: 600;
  src: url(../fonts/bariol_bold-webfont.woff2);
}

body {
  text-rendering: optimizeLegibility;
  font-family: Bariol, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* Header */

.top-header {
  background-color: hsl(267, 100%, 26%);
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 115px;
}

.top-nav {
  padding: 39px 20px 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1180px;
  margin: auto;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.mobile-sign-in,
.mobile-menu-toggle,
input#menu-btn {
  display: none;
}

.donutlogo {
  height: 55px;
}

.scroll-affix-header .top-header {
  background:  hsla(0, 0%, 100%, 1);
  -webkit-box-shadow: 0 0 10px hsla(0, 0%, 0%, .5);
  box-shadow: 0 0 10px hsla(0, 0%, 0%, .5);
}

.scroll-affix-header .top-nav {
  padding-top: 10px;
  padding-bottom: 10px;
}

.scroll-affix-header .donutlogo {
  /* background-color: hsl(265, 100%, 27%); */
}

.scroll-affix-header .top-nav a,
.scroll-affix-header .mobile-menu-toggle {
  color: hsl(265, 100%, 27%);
}

.scroll-affix-header .top-nav a:hover
.mobile-menu-toggle:hover {
  color: hsl(256, 100%, 66%);
}

.scroll-affix-header .top-nav .sign-in {
  color: hsl(265, 100%, 27%);
  background-color: hsl(264, 36%, 89%);
}

.scroll-affix-header .top-nav .sign-in:hover {
  background-color: hsl(265, 36%, 82%);
}

.nav-menu ul li {
  display: inline-block;
  font-size: .875rem;
  letter-spacing: .5px;
  margin-left: 15px;
}

.nav-menu ul li a {
  color: hsla(0, 0%, 100%, .75);
  text-decoration: none;
  transition: color .3s;
}

.nav-menu ul li a:hover {
  color: hsl(0, 0%, 100%);
}

.nav-menu ul li a.sign-in {
  padding: 10px 20px;
  font-weight: 600;
  background-color: hsla(0, 0%, 100%, .15);
  border-radius: 5px;
  color: hsl(0, 0%, 100%);
  transition: background-color .3s;
}

.nav-menu ul li a.sign-in:hover {
  background-color: hsla(0, 0%, 100%, .25);
}

/* Description */

.description-section {
  background-color: hsl(267, 100%, 26%);
  position: relative;
  height: 780px;
  padding-top: 122px;
}

.description-part1 {
  padding: 0 20px;
  margin: auto;
  max-width: 1180px;
}

.description-section-leftside {
  max-width: 600px;
  color: hsl(0, 0%, 100%);
}

.howbig {
  font-size: 5rem;
  font-weight: 300;
  margin-top: 59px;
  line-height: 1.1;
}

.slack-button {
  margin-top: -36px;
  width: 215px;
}

.blond-girl {
  position: absolute;
  bottom: 0;
  left: 50%;
  max-width: 100%;
}

/* Logos */

.logo {
  padding: 60px 0;
  background: hsl(210, 14%, 95%);
}

.logo-container {
	width: 100%;
  max-width: 1180px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.logo-list {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

.logo-item {
	width: 25%;
	text-align: center;
	padding: 20px 40px;
}

img.logo-image {
	height: auto;
  max-width: 100%;
  vertical-align: top;
}

/* Features */

.features {
  margin: 60px auto 0;
  max-width: 1180px;
}

.features img {
  max-width: 90%;
  position: absolute;
  z-index: -1;
}

.pairing-block,
.onboarding-block {
  position: relative;
}

.pairing-image {
  right: 85px;
}

.onboarding-image {
  left: 81px;
}

.feature-descriptions {
  display: flex;
}

.feature-descriptions h3 {
  font-size: 3.75rem;
  line-height: 1.1;
  font-weight: 300;
  color: hsl(265, 100%, 27%);
  margin-bottom: -17px;
  margin-top: 5px;
}

.feature-paragraph {
  color: hsl(265, 100%, 27%);
  font-size: 1.875rem;
  font-weight: 300;
  line-height: 1.2;
}

.pairing-text,
.onboarding-text {
  background-color: hsl(210, 14%, 95%);
  border-radius: 10px;
  margin: 245px 20px 20px 20px;
  padding: 20px;
}

.pairing-link {
  font-size: 1.5rem;
  font-weight: 600;
  transition: color .3s;
  color: hsl(256, 100%, 66%);
  text-decoration: none;
}

.pairing-link:hover {
  color: hsl(265, 100%, 27%);
}

.pairing-link:after {
  content: " \00BB";
}

/* Testimonials */

.testimonials {
  margin: 95px 0 125px 0;
}

.testimonials-quote {
  display: flex;
}

.quote-image_part {
  flex-grow: 1;
  width: 330px;
}

.quote-image {
  text-align: center;
  display: inline-block;
  width: 320px;
}

.clark-img {
  width: 320px;
  margin-bottom: 30px;
}

.testimonials-logo {
  width: 200px;
}

.quote {
  width: 60%;
}

blockquote {
  text-indent: -16px;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.1;
  color: hsl(265, 100%, 26%);
  margin: 0 0 20px 0;
}

cite {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  color: hsl(0, 0%, 55%);
}

cite strong {
  font-weight: 700;
}

.quote-link {
  font-size: 1.5rem;
  font-weight: 600;
  display: inline-block;
  margin-top: 30px;
  max-width: 400px;
}

.quote-link:after {
  content: " \00BB";
}

/* Pre-footer */

.pre-footer {
    background: url(../img/pre-footer.svg) bottom center repeat-x transparent;
    background-size: auto 100%;
    margin-top: 40px;
    height: 236px;
}

/* Footer Section By Tony */

footer {
  display: block;
  padding: 40px 0 20px;
  background: hsl(210, 14%, 95%);
}

footer div {
  display: block;
}

footer h5 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.1;
  display: block;
  margin: 0;
}

footer ul {
  list-style: none;
  padding: 0;
  font-weight: 300;
  line-height: 1.2;
  box-sizing: border-box;
  margin: 0;
  display: block;
}

footer ul li {
  display: inline-block;
  width: calc(50% - 4px);
  margin-bottom: 20px;
}

footer ul li a {
  font-size: 1.125rem;
  font-weight: 400;
}

footer ul li:last-child {
  float: right;
  text-indent: -4px;
}

a {
  color: hsl(256, 100%, 66%);
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  color: hsl(265, 100%, 27%);
}

.footer-left, .footer-middle, .footer-right {
  padding-right: 70px;
  width: 33.33%;
}

.footer-left {
  font-size: 1.125rem;
  color: hsl(265, 100%, 27%);
}

.footer-left input {
  display: block;
  width: 100%;
  font-size: 1.5rem;
  padding: 14px 10px 12px;
  margin: 20px 0;
  font-family: Bariol, Arial, sans-serif;
  border: none;
  border-radius: 5px;
}

.footer-left input[type="email"]::placeholder {
  font-weight: 300;
  color: hsl(265, 100%, 27%);
  background: hsl(0, 0%, 100%);
}

.footer-left input[type="submit"] {
  font-weight: 600;
  text-align: center;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  background: hsl(256, 100%, 66%);
  transition: background-color .3s;
}

.footer-left input[type="submit"]:hover {
  background: hsl(265, 100%, 27%);
}

footer, footer button, footer input, footer select, footer textarea {
  color: hsl(265, 100%, 27%);
  font-size: 16px;
  line-height: 1.4;
}

.footer-container {
  padding-left: 20px;
  padding-right: 20px;
}

.footer-right > .social-media ul {
  display: flex;
  list-style: none;
  font-weight: 300;
  line-height: 1.2;
}

.footer-right > .social-media ul li {
  display: block;
  margin-right: 20px;
  width: 22px;
  height: 22px;
}

.footer-right .social-media a {
  display: block;
  width: 22px;
  height: 22px;
  color: hsl(256, 100%, 66%);
  text-decoration: none;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.social-media svg {
  width: 100%;
  height: 100%;
  width: 22px;
  height: 22px;
  height: auto;
  max-width: 100%;
  vertical-align: top;
  transform-origin: 50% 50% 0;
}

.social-media svg path {
  transition: fill .3s;
  fill: hsl(256, 100%, 66%);
}

.social-media a:hover path {
  fill: hsl(265, 100%, 27%);
}

.footer-right .social-media a:hover {
  color: hsl(265, 100%, 27%);
}

.footer-right .copyright {
  font-size: 1.125rem;
  color: hsl(265, 100%, 27%);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* min 880px */

@media (min-width: 880px) {

  footer, .footer-container {
    display: flex;
  }

  .footer-container {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
  }

}

/* max 879px */

@media (max-width: 879px) {

  .description-section {
    padding-top: 63px;
  }

  .howbig {
    font-size: 2.625rem;
  }

  .slack-button {
    margin-top: -6px;
  }

  .blond-girl {
    left: 0;
  }

  .logo {
	  padding: 40px 0;
  }

	.logo-item {
	  width: 50%;
  }

  .features {
    margin: 24px auto 0;
  }

  .features img {
    position: relative;
  }

  .feature-descriptions {
    flex-direction: column;
  }

  .feature-descriptions h3 {
    font-size: 2.5rem;
  }

  .feature-paragraph {
    font-size: 1.125rem;
  }

  .pairing-image {
    right: 8px;
    top: 15px;
  }

  .onboarding-image {
    left: 50px;
    top: 18px;
  }

  .pairing-text,
  .onboarding-text {
    margin-top: -50px;
  }

  .pairing-link {
    font-size: 1.125rem;
  }

  .pre-footer {
    height: 102px;
  }

  .footer-left input[type="submit"] {
    margin-bottom: 40px;
  }

  .social-media {
    margin-top: 60px;
  }

  .footer-left, .footer-middle, .footer-right {
    width: 100%;
    padding-right: 0;
    clear: both;
  }

  .top-header {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    height: 54px;
  }

  .scroll-affix-header .top-header {
    background:  hsla(0, 0%, 100%, 1);
    -webkit-box-shadow: 0 0 10px hsla(0, 0, 0, .5);
    box-shadow: 0 0 10px hsla(0, 0, 0, .5);
    padding: 0 20px;
  }

  .scroll-affix-header .top-nav a {
    color: hsl(267, 100%, 26%);
  }

  .flex-row .top-nav {
    display: flex;
  }

  .top-nav {
    padding: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .top-nav .logo-link {
    display: block;
    width: 111px;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  .top-nav > a img {
    height: 34px;
    max-width: 100%;
    vertical-align: top;
  }

  .mobile-sign-in,
  .mobile-menu-toggle {
    display: inline-block;
    float: right;
    font-size: 1.125rem;
    font-weight: 600;
    color:  hsla(0, 0%, 100%, 1);
    margin-right: 20px;
    -webkit-transition: color .3s;
    transition: color .3s;
  }

  span.mobile-menu-toggle {
    font-size: 2em;
    color:  hsla(0, 0%, 100%, 1);
    cursor: pointer;
  }

  .sign-in {
    display: none;
  }

  .nav-menu ul a {
    visibility: visible;
    opacity: 1;
    color: hsla(0, 0%, 100%, 1);
    font-weight: 300;
    line-height: 1.2;
    list-style: none;
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }

  /* Menu Trigger */

  .nav-menu {
    display: none;
  }

  #menu-btn > label:hover {
    cursor: pointer;
  }

  #menu-btn:checked ~ .nav-menu {
    display: block;
    position: fixed;
    top: 74px;
    left: 0;
    width: 100%;
    height: calc(100% - 74px);
    padding: 20px 0;
    background: hsl(267, 100%, 26%);
    -webkit-transition: visibility .3s, opacity .3s;
    transition: visibility .3s, opacity .3s;
    visibility: visible;
    opacity: 1;
    z-index: 50;
  }

  .nav-menu ul {
    list-style: none;
    margin: 0;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
  }

  .nav-menu ul.centralize {
    margin: 0 auto;
    width: 100%;
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .nav-menu ul li {
    margin: 10px 0 0;
    list-style: none;
    clear: both;
    display: block;
  }

  .nav-menu ul.centralize li a {
    color:  hsla(0, 0%, 100%, 1);
    font-size: 1.875em;
    font-weight: 500;
    letter-spacing: 1.5px;
    text-decoration: none;
    -webkit-transition: color .3s;
    transition: color .3s;
  }

}

/* max 480px */

@media (max-width: 480px) {

  .description-section {
    height: 745px;
  }

}
